<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <h5 class="text-white h4">Infosys</h5>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Inbox
        </a>
      </li>
      <hr class="bg-white"/>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Create Request
        </a>
      </li>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Workflow
        </a>
      </li>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Admin
        </a>
      </li>
      <li class="nav-item">
        <a class=" text-white nav-link" href="/">
          <i class="fa fa-line-chart text-white"></i>
          Theme
        </a>
      </li>
    </div>
  </div>
</div>
